<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/DocAdd.css">
  <title>기록 관리</title>
</head>

<body>

<div class="container">
  <h2>기록 추가</h2>

  <form th:action="@{/docs/{docId}/add(docId=${docId})}" method="post" >
    <!-- Doc 필드 -->
    <div class="form-group">
      <label for="recordTitle">제목</label>
      <input type="text" class="form-control" id="recordTitle" placeholder="제목을 입력하세요" name="header">
    </div>
    <div class="form-group">
      <label for="recordContent">내용</label>
      <textarea class="form-control" id="recordContent" rows="3" placeholder="내용을 입력하세요" name="content"></textarea>
    </div>

    <div class="form-group" id="todoListContainer">
      <!-- 추가 TODO 버튼 -->
      </div>
    <button type="button" class="btn btn-success" onclick="addTodo()">+ TODO 추가</button>
    <button type="submit" class="btn btn-primary">기록 생성</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  var index=0;

  function addTodo() {
    let todoListContainer = document.getElementById("todoListContainer");
    let todoInput = document.createElement("div");

    todoInput.className = "input-group mb-2";
    todoInput.innerHTML = `
        <!-- Todo 항목 입력 -->
        <input type="text" class="form-control" placeholder="TODO 항목을 입력하세요" name="todos[${index}].header">
        <!-- Todo 우선순위 선택 -->
        <select class="custom-select text-center" name="todos[${index}].priority">
          <option value="1">1(가장 높음)</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10 (가장 낮음)</option>
            <!-- 다른 option 값들 추가 -->
        </select>
        <!-- Todo 삭제 버튼 -->
        <div class="input-group-append">
            <button type="button" class="btn btn-danger" onclick="removeTodo(this)">삭제</button>
        </div>
    `;
    todoListContainer.appendChild(todoInput);
    index++;
  }

  function removeTodo(button) {
    // 버튼의 부모 요소를 찾아 삭제
    let todoInput = button.parentNode.parentNode;
    todoInput.parentNode.removeChild(todoInput);
  }
  /*]]>*/
</script>
</body>
</html>
