<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>로그인 및 회원가입</title>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <!-- 로그인 폼 -->
        <div class="col-md-6">
            <h2>로그인</h2>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="loginUsername">아이디</label>
                    <input type="text" class="form-control" id="loginUsername" placeholder="아이디를 입력하세요"  name="id">
                </div>
                <div class="form-group">
                    <label for="loginPassword">비밀번호</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="비밀번호를 입력하세요" name="passwd">
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
            </form>
        </div>

        <!-- 회원가입 폼 -->
        <div class="col-md-6">
            <h2>회원가입</h2>
            <form th:action="@{/signup}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="id">아이디</label>
                    <input type="text" class="form-control" id="id" placeholder="아이디를 입력하세요" name="signupID" th:field="*{id}" required>
                </div>
                <div class="form-group">
                    <label for="signupName">이름</label>
                    <input type="text" class="form-control" id="signupName" placeholder="이름을 입력하세요" name="signupName" th:field="*{name}" required>
                </div>
                <div class="form-group">
                    <label for="passwd">비밀번호</label>
                    <input type="password" class="form-control" id="passwd" placeholder="비밀번호를 입력하세요" name="passwd" th:field="*{passwd}" required>
                </div>
                <div class="form-group">
                    <label for="confirmPasswd">비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirmPasswd" placeholder="비밀번호를 다시 입력하세요" name="confirmPasswd" required>
                </div>
                <button type="submit" class="btn btn-success">회원가입</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
